nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #878289;
    color: #fff;
    padding: 1rem;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin-right: 1rem;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  
  a:hover {
    background-color: #fff;
    color: #333;
  }